/* You can add global styles to this file, and also import other style files */
.padding-20 {
    padding: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.md-form .prefix.label-icon {
    font-size: 20px;
    position: absolute;
    top: 10px
}
.cursor-pointer {
    cursor: pointer;
}